

*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 80%;
    background-color: aqua;
    padding: 34px;
    margin: auto;
}

.container , h1, p {
    text-align: center;
}

p{
    font-size: 17px;
}

input, textarea{
    display: block;
    border: 2px solid black;
    outline: none;
    font-size : 16px;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
}

.btn{
    color: white;
    background-color: purple;
    padding: 6px 14px ;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;

}

.submitMsg{
    color: rgb(244, 40, 4);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

